.banner-content {
  text-align: center;
  vertical-align: middle;
  position: absolute;
  width: 100%;
  bottom: 25%;
}

.banner {
  position: relative;
}

.gradient {
  bottom: 0;
  position: absolute;
  width: 100%;

  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(17, 0, 0, 0), rgba(17, 0, 0, .8));
}

span {

  display: block;
  padding-bottom: 2rem;
  color: #fff;

}
