.blue {
  background-color: var(--color-primary-light);
}

.title {
  color: var(--color-accent);
}

.iconcard {
  color: var(--color-primary-light);
}

.rich {
  background-image: url("../../images/brad.jpg");
  background-size: cover;
  background-position: center center;
}
