:root {
  --color-primary: #35716f;
  --color-primary-light: #afdedc;
  --color-secondary: #2bb4b4;
  --color-accent: #e87c5a;

  --font-primary: "Roboto", sans-serif;
}

html {
  font-family: var(--font-primary);
}
